
<div class='background-index container'>
  <div id="title-wrapper-1">
    <div><h1>Share your favorite cocktail recipeswith the world</h1></div>
    <div id="ad-logo"> <%= link_to cocktails_new_path do %>
      <i class="fas fa-ad fa-sm"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-12 col-md-6 ">
      <% background_url = cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-category" style="background: url(<%= background_url %>);">
        <%= cocktail.name %>
        <div id="show-icon">
          <%= link_to cocktail_path(cocktail) do %>
            <i class="fas fa-binoculars"></i>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
