<div>Navbar</div>
<div class='container'>
  <div class='row'>
    <div class='column'>
      <div class='wrapper-show'>
        <div class='wrapper-edit-link'>link_to edit</div>
        <div class='wrapper-title'>Title</div>
        <div class='wrapper-image'>Picture</div>
      </div>
      <div class='container wrapper'>
        <div><h3>Cocktails</h3></div>
        <div><h3>Ingredients</h3></div>
        <div>Link_to delete ingredients</div>
        <div>Form for new ingredient</div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
